.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(122, 122, 122, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h6 {
  color: black;
  margin-bottom: 1rem;
}
